%hr
%p オンラインのキャラクター
#character= partial 'base/character', :collection => online_characters

<hr />
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kyubuns.net:3000/" data-text="働いてお金貯めてガチャ回すゲームを作ってる途中のもの" data-via="kyubuns" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
