%ul(class='nav nav-tabs')
  - if @current_account == nil
    %li(class='active')
      =link_to('Home', '/')
    %li
      =link_to('Source', 'https://github.com/kyubuns/misterioso')
  - else
    %li(class='active')
      =link_to('Home', '/')
    %li
      =link_to('Mypage', '/mypage')
    %li
      =link_to('Logout', '/logout')
    %li
      =link_to('Source', 'https://github.com/kyubuns/misterioso')

%div
  %p
    %br <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <!-- misterioso-mobile --> <ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-8461908485279040" data-ad-slot="5499852904"></ins> <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
