%ul(class='nav nav-tabs')
  - if @current_account == nil
    %li(class='active')
      =link_to('Home', '/')
    %li
      =link_to('Source', 'https://github.com/kyubuns/misterioso')
  - else
    %li(class='active')
      =link_to('Home', '/')
    %li
      =link_to('Mypage', '/mypage')
    %li
      =link_to('Logout', '/logout')
    %li
      =link_to('Source', 'https://github.com/kyubuns/misterioso')
